@page "/fetchdata"
@using BlazorApp1.Data
@inject NavigationManager NavigationManager
@{
    @using BlazorApp1.Services;
    @using BlazorApp1.Models;
}

<PageTitle>Información del cliente</PageTitle>

<header class="encloseBox">
    <h1>Bienvenido, @userInfo?.NombreUsuario</h1>
</header>

<div>
    <h3>Informacion del cliente</h3>
    <p>Email: @email</p>
    <p>Password: @password</p>
</div>

<footer class="encloseBox">
    <h3>@userInfo.Cargo</h3>
</footer>

@code {
    private string email = string.Empty;
    private string password = string.Empty;
    private Usuario userInfo;

    protected override async Task OnInitializedAsync()
    {
        // Obtener los parámetros de la URL
        var uri = new Uri(NavigationManager.Uri);
        var queryParameters = System.Web.HttpUtility.ParseQueryString(uri.Query);

        // Obtener los valores de los parámetros si existen en la URL
        if (queryParameters.AllKeys.Contains("email"))
        {
            email = queryParameters["email"];
        }
        if (queryParameters.AllKeys.Contains("password"))
        {
            password = queryParameters["password"];
        }
        userInfo = await ApiService.Singleton().ObtenerUsuario(email, password);
    }
}

