
.login-header {
    color: #333;
    text-align: center;
}


.error-message {
    color: red;
    text-align: center;
}


.login-container {
    width: 300px;
    margin: 0 auto;
}


.form-group {
    margin-bottom: 10px;
}


.form-label {
    color: #333;
}


.form-input {
    width: 100%;
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #ccc;
}


.custom-button {
    background-color: #80bb34;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
   
}


.container {
    border: 2px solid green;
    padding: 20px;
    border-radius: 8px;
    width: 500px;
}
.forgot {
    text-decoration: underline;
    color: green;
}


.popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.popup {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    max-width: 400px;
    width: 90%;
    text-align: center;
}

.close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    cursor: pointer;
}

.popup-content {
    margin-top: 20px;
}

    .popup-content h2 {
        margin-bottom: 10px;
    }

    .popup-content p {
        margin-bottom: 8px;
    }
